<div class="sidebar">
    <header class="top-bar">
        <a href="index.html"><h4 class="top-bar__logo" id="logo">Matthew Brann</h4></a>
    </header>

    <nav class="noSelect">
        <div class="menu">
            <div class="menu__branch still-life">
                <div class="menu__topic">
                    <h3>STILL LIFE</h3>
                </div>
                <div class="drop-down-content">
                    <ul>
                        <li><a href="projects/still-life/sohoform">Soho Form</a></li>
                        <li><a href="{{burningMoney}}">Burning Money</a></li>
                        <li><a href="{{partyAccessories}}">Party Accessories</a></li>
                        <li><a href="{{gucciJewellery}}">Gucci Jewellery</a></li>
                        <li><a href="{{wonderland}}">Wonderland Fragrance</a></li>
                        <li><a href="{{versace}}">Verasce</a></li>
                        <li><a href="{{ninetyNine}}">Ninety Nine</a></li>
                        <li><a href="{{foundSet}}">Found Set</a></li>
                        <li><a href="{{gucciSunglasses}}">Gucci Sunglasses</a></li>
                        <li><a href="{{nike}}">Nike CR7</a></li>
                        <li><a href="{{interiors}}">Interiors</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu__branch streetstyle">
                <div class="menu__topic">
                    <h3>STREETSTYLE</h3>
                </div>
                <div class="drop-down-content">
                    <ul>
                        <li><a href="{{LFW}}">LFW</a></li>
                        <li><a href="{{PFW}}">PFW</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu__branch editorial">
                <div class="menu__topic">
                    <h3>EDITORIAL</h3>
                </div>
                <div class="drop-down-content">
                    <ul>
                        <li><a href="{{flannels}}">Flannels AW18</a></li>
                        <li><a href="{{hilfiger}}">Hilfiger X Gigi</a></li>
                        <li><a href="{{bluey}}">Bluey</a></li>
                        <li><a href="{{rudeManners}}">Rude Manners</a></li>
                        <li><a href="{{janFitness}}">Jan Fitness
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="about.html" class="contact"><h4>ABOUT</h4></a>
    </nav>
    
</div>